/* ContactUs.css */

.contact-us-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .content-box {
    border: 2px solid #000;
    padding: 20px;
    margin-top: 20px;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    border: 2px solid black;
  }
  
  .contact-form {
    margin-top: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }
  /* Additional styles for ContactUs.css */

/* Success message styles */
.success-message {
  color: #27ae60;
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  padding: 50px;
  background-color: #ecf0f1;
  border: 1px solid #2ecc71;
  border-radius: 5px;
}

/* Adjust styles as needed */
